.properties-card {
  width: 100%;
  border-radius: 2rem;
  background-color: $color-grey-light;
  box-shadow: $box-shadow-primary;
  overflow: hidden;

  @include respond(tab-1024) {
    width: 80%;
    margin: 0 auto;
  }

  & h3 {
    padding: 0 2rem 0 2rem;
  }
  &:not(:last-child) {
    margin-right: 5rem;
  }

  &__img-box {
    width: 100%;
  }

  &__img {
    width: 100%;
    border-radius: 2rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 2rem 2rem 2rem;
  }

  &__item {
    color: $color-primary-dark;
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__price {
    color: $color-primary;
    font-weight: 700;
    font-size: 1.4rem;
  }

  &__location-box {
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .btn-location {
    padding: 1rem 4rem;
    background-color: $color-primary-light;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      background-color: $color-primary;
      color: $color-primary-dark;
    }
  }
}
