.properties-card {
  width: 100%;
  border-radius: 1rem;
  background-color: $color-grey-light;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
  position: relative;

  &:hover {
    box-shadow: $box-shadow-primary;

    .heart {
      opacity: 1;
    }
  }

  @include respond(tab-1024) {
    width: 100%;
    margin: 2rem auto;
  }

  &__img-box {
    width: 100%;
    height: 24rem;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    & .heart {
      opacity: 0;
      position: absolute;
      right: 3rem;
      top: 3rem;
      height: 4rem;
      width: 4rem;
      fill: $color-primary;
      transition: all 0.3s ease-in;

      &:hover {
        fill: $color-primary-dark;
      }
    }
  }

  &--footer {
    padding: 1rem 1.5rem 0 1.5rem;

    & h3 {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 1.2;
      margin-bottom: 1rem;
      color: $color-primary-dark;
    }
  }

  &__icon {
    @include icon;
    fill: $color-primary;
  }
  &__img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 1rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-grey;
    padding: 1rem 0;
  }

  &__item {
    color: $color-primary-dark;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  &__details > &__item > &__icon {
    margin-right: 1rem;
  }
  &__contacts {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
    align-items: center;
  }

  &__price {
    color: $color-primary-dark;
    font-weight: 500;
    font-size: 1.8rem;
  }

  &__location-box {
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .btn-location {
    padding: 1rem 4rem;
    background-color: $color-primary-light;
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      background-color: $color-primary;
      color: $color-primary-dark;
    }
  }
}

.icon-bg {
  background-color: $color-grey;
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $color-primary !important;
  }
}

.icon-contact {
  fill: $color-white !important;
}
