.btn {
  color: $color-primary-dark;
  background-color: $color-primary;
  border: none;
  border-radius: 1rem;
  padding: 1.2rem 1rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-light;
    color: $color-primary-dark;
  }
}
