.btn {
  color: $color-white;
  background-color: $color-primary;
  border: none;
  border-radius: 1rem;
  padding: 1.2rem 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 1px;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-dark;
    color: $color-white;
  }
}

.nav-link {
  text-decoration-style: none;
}
