.heading-primary {
  font-size: 6rem;
  color: $color-white;
  letter-spacing: 1px;
  line-height: 1;
}

.heading-paragraph {
  font-size: 1.8rem;
  color: $color-white;
  letter-spacing: 1.4px;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-white;
  letter-spacing: 1.4px;
}

.margin-top--big {
  margin-top: 5rem;
}

.margin-top--small {
  margin-top: 2rem;
}
