.heading-primary {
  font-size: 6rem;
  color: $color-white;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
}

.heading-paragraph {
  font-size: 1.8rem;
  color: $color-white;
  letter-spacing: 1.4px;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-primary-dark;
  letter-spacing: 1px;
}

.margin-top--big {
  margin-top: 5rem;
}

.margin-top--medium {
  margin-top: 3.5rem;
}

.margin-top--small {
  margin-top: 2rem;
}

.margin-bottom--big {
  margin-bottom: 5rem;
}
.margin-bottom--medium {
  margin-bottom: 3.5rem;
}

.margin-bottom--small {
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: $color-primary-dark;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  color: $color-primary-dark;
}
