$color-primary: #fda800;
$color-primary-light: #ffebe2;
$color-primary-dark: #282826;
$color-white: #ffff;
$color-grey: #a2a2a2;
$color-beige: #9e8f70;
$color-grey-light: #f3f3f5;
$color-grey-dark: #878988;

$default-font-size: 1.6rem;
$box-shadow-primary: 0 1.5rem 4rem rgba($color-primary-dark, 0.2);
