$color-primary: #ff9c65;
$color-primary-light: #fef5ee;
$color-primary-dark: #051549;
$color-primary-grey: #585e67;
$color-white: #ffff;
$color-grey: #a2a2a2;
$color-beige: #9e8f70;
$color-grey-light: #f3f3f5;
$color-grey-dark: #8f90a4;
$color-black: black;

$default-font-size: 1.6rem;
$box-shadow-primary: 0 1.5rem 4rem rgba($color-primary-dark, 0.2);

$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
