$color-primary: #fda800;
$color-primary-dark: #282826;
$color-white: #ffff;
$color-grey: rgb(139, 138, 138);
$color-beige: #9e8f70;
$color-grey-light: #ebeef3;

$default-font-size: 1.6rem;
$box-shadow-primary: 0 1.5rem 4rem rgba($color-primary-dark, 0.4);
