.how-we-help {
  width: 65%;
  position: relative;
  display: flex;
  margin: 10rem auto;
  justify-content: center;
  color: $color-primary-dark;
  column-gap: 5rem;

  @include respond(tab-land) {
    grid-template-columns: 1fr;
    width: 80%;
  }

  &__img-box {
    width: 35%;
    align-self: center;
  }
  &__img {
    width: 100%;
    border-radius: 1rem;
  }

  &__text-box {
    width: 48%;
    align-self: center;

    & h2 {
      position: relative;
      @include respond(tab-land) {
        position: absolute;
        top: 0;
      }
    }
  }
  &__text {
    display: flex;
    margin-bottom: 3rem;
  }

  &__text-details {
    display: flex;
    flex-direction: column;
  }
}

.number-box {
  font-weight: 700;
  background-color: $color-grey-light;
  height: 4rem;
  font-size: $default-font-size;
  padding: 1rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 2rem;
}

@include respond(tab-land) {
  #hwh-small--img {
    content: url("https://source.unsplash.com/ExOmPidaHvY/800x520");
    margin-bottom: 2rem;
    margin-top: 7rem;
  }
}
