.about-us {
  width: 65%;
  position: relative;
  display: flex;
  margin: 10rem auto;
  justify-content: center;

  color: $color-primary-dark;

  @include respond(tab-port) {
    width: 80%;
    flex-direction: column;
  }

  &__img-box {
    width: 35%;
    margin-left: 5rem;
    align-self: center;

    @include respond(tab-port) {
      width: 100%;
      margin-left: 0;
      align-self: flex-start;
    }
  }
  &__img {
    width: 100%;
    border-radius: 1rem;
  }

  &__text-box {
    width: 48%;
    align-self: center;

    @include respond(tab-port) {
      width: 100%;
    }

    & > h2 {
      @include respond(tab-port) {
        br {
          content: " ";
        }
      }
    }
  }
}

@include respond(tab-port) {
  #about-us__small-img {
    content: url("https://source.unsplash.com/ExOmPidaHvY/800x520");
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
}
