.about-us {
  width: 65%;
  position: relative;
  display: flex;
  margin: 15rem auto;
  justify-content: center;

  color: $color-primary-dark;

  &__img-box {
    width: 48%;
    margin-left: 5rem;
    align-self: center;
  }
  &__img {
    width: 100%;
    border-radius: 1rem;
  }

  &__text-box {
    width: 48%;
    align-self: center;
  }
}
