.featured-homes {
  &__card {
    width: 30%;
    background-color: $color-grey-light;
    border-radius: 1rem;

    &:not(:last-child) {
      margin-right: 5rem;
    }

    & > h3 {
      padding: 2rem;
      color: $color-primary-dark;
    }
  }

  &__price {
    padding: 0 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: $color-primary-dark;
  }

  &__card--image-box {
    width: 100%;
  }

  &__card-image {
    width: 100%;
    border-radius: 1rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid $color-grey;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  &__item {
    display: flex;
    align-items: flex-end;
  }

  &__icon-detail {
    background-color: $color-grey;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.features__icon {
  @include icon;
  margin-right: 1rem;
  fill: $color-primary;
}

.features__icon-detail {
  width: 2rem;
  height: 2rem;
  fill: $color-white;
}

.btn-details {
  background-color: $color-primary;
  border-radius: 5px;
  padding: 1rem;
  font-weight: 700;
  font-size: $default-font-size;
  cursor: pointer;
}
