.navigation {
  width: 100%;
  height: 12rem;
  position: relative;
  padding: 0 10rem;
  display: flex;
  align-items: center;

  @include respond(tab-port) {
    padding: 0 2rem;
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 40;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include respond(tab-mini) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $color-primary-dark;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    &:not(:first-child) {
      margin-left: 8rem;
    }

    &::after {
      display: flex;
      content: "";
      border-bottom: 3px solid $color-primary;
      position: absolute;
      top: 2.5rem;
      overflow: hidden;
      width: 100%;
      transform: scaleX(0);
      transition: all 0.3s cubic-bezier(1, 0, 0, 0.99);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__logo-box {
    width: 15rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .push {
    margin-left: auto;
  }
}

.nav-link {
  text-decoration: none !important;
  color: $color-primary-dark;
  &:hover {
    color: $color-primary;
    cursor: pointer;
  }

  &:active ~ .navigation::after {
    transform: scale(1);
  }
}

.is-active {
  color: $color-primary;
}
