.navigation {
  width: 100%;
  height: 15vh;
  position: relative;
  padding: 0 10rem;
  background-color: $color-grey-light;
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    display: inline-block;
    color: $color-primary-dark;
    font-size: 1.4rem;
    flex: 0 0 10.67%;
    text-align: center;
  }

  &__item:hover {
    color: $color-grey;
    cursor: pointer;
  }

  &__logo-box {
    width: 15rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .push {
    margin-left: auto;
  }
}
