.call-to-action {
  width: 80%;
  display: grid;
  position: relative;
  margin: 10rem auto;
  background-color: $color-grey-light;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 20rem);
  border-radius: 2rem;

  @include respond(tab-1024) {
    grid-template-rows: repeat(2, 15rem);
  }

  &__img-box {
    height: 100%;
    position: relative;
    overflow-y: visible;
    grid-row: 1 / -1;

    @include respond(tab-1024) {
      display: none;
    }
  }

  &__img {
    height: 100%;
    border-bottom-left-radius: 1.5rem;
  }

  &__text-box {
    background-color: $color-grey-light;
    position: relative;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h2 {
      padding: 1.5rem;

      & span {
        color: $color-primary;
      }

      @include respond(tab-1024) {
        text-align: center;
      }
    }

    @include respond(tab-1024) {
      align-items: center;
      grid-column: 1 / -1;
    }
  }

  &__email {
    width: 95%;
    padding: 1.2rem;
    border-radius: 6px;
    border: none;
    position: relative;
    z-index: 1;
    font-size: $default-font-size;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey;
      font-size: 1.4rem;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }

  &__label {
    padding: 1rem 2rem;
    background-color: $color-primary;
    border-radius: 6px;
    font-size: $default-font-size;
    font-weight: 500;
    z-index: 10;
    color: $color-white;
    cursor: pointer;
    align-self: flex-end;
    transform: translateY(-4.3rem);
    transition: 0.2s all ease-in;

    &:hover {
      background-color: $color-primary-light;
      color: $color-primary-dark;
    }

    @include respond(phone) {
      padding: 1rem;
    }
  }
}
