.call-to-action {
  width: 80%;
  height: 50vh;
  display: flex;
  position: relative;
  margin: 10rem auto;
  background-color: $color-grey-light;
  padding: 8rem 0;
  border-radius: 1.5rem;
  top: 15rem;

  &__img-box {
    width: 50%;
    position: relative;
  }

  &__img {
    width: 96%;
    position: absolute;
    left: 0;
    top: -24rem;
    border-bottom-left-radius: 1.5rem;
  }

  &__text-box {
    background-color: $color-grey-light;
    position: relative;

    h2 {
      span {
        color: $color-primary;
      }
    }
  }

  &__email {
    width: 100%;
    padding: 1.2rem;
    border-radius: 6px;
    border: none;
    position: relative;
    z-index: 1;

    &:focus {
      outline: none;
    }
  }

  &__label {
    position: absolute;
    padding: 1rem;
    background-color: $color-primary;
    border-radius: 6px;
    display: inline-block;
    left: 75%;
    font-size: $default-font-size;
    font-weight: 500;
    z-index: 10;
    color: $color-white;
    cursor: pointer;
    position: absolute;
    transition: 0.2s all ease-in;

    &:hover {
      background-color: $color-primary-light;
      color: $color-primary-dark;
    }
  }
}
