.features {
  width: 100%;

  &__cards-box {
    display: flex;
    justify-content: center;
    background-color: $color-primary-light;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-radius: 1.4rem;
    transition: all 0.2s ease-in;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__heading {
    text-align: center;
    margin-top: 10rem;
  }

  &__icon-box {
    width: 6rem;
    height: 6rem;
    display: block;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon-header {
    display: block;
    width: 5rem;
    height: 5rem;
    fill: $color-primary-dark;
  }

  &__btn {
    display: block;
    margin: 3rem 0;
    width: 4rem;
    height: 4rem;
    background-color: $color-primary;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__card .paragraph {
    text-align: center;
    line-height: 1.5;
  }
}

.right__icon {
  display: block;
  height: 3rem;
  width: 3rem;
  fill: $color-white;
  transition: opacity 0.2s ease-in;
}
