.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 14rem));
  gap: 3rem;
  width: 80%;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10rem;

  &__logo-box {
    width: 15rem;
    margin-left: 0;

    @include respond(tab-1024) {
      grid-column: 1 / -1;
      justify-self: center;
      width: 20rem;
    }
  }

  &__list {
    font-size: $default-font-size;
    list-style: none;
  }

  &__item {
    margin: 1.5rem 0;
    color: $color-primary-grey;
  }

  &__address {
    font-size: $default-font-size;
    color: $color-primary-grey;
  }

  &__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
  }

  &__social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}

.right__icon {
  @include icon;
  fill: $color-primary;
}

#paypal-icon {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
}
