.testimonials {
  width: 65%;
  margin: 10rem auto;
  height: 90vh;
  position: relative;

  @include respond(tab-land) {
    height: 100vh;
  }

  @include respond(tab-1024) {
    width: 80%;
    height: 70vh;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: 2.75rem;
    z-index: 10;
    line-height: 1;
    text-align: center;
    width: 10rem;
    height: 10rem;
    left: 0;
    font-size: 20rem;
    color: $color-primary;
    font-family: sans-serif;
    background-color: $color-grey-light;
    border-radius: 1.5rem;
    box-shadow: $box-shadow-primary;

    @include respond(phone) {
      width: 7rem;
      height: 7rem;
      font-size: 14rem;
    }
  }

  & h2 {
    text-align: center;
  }

  &__client--reviews-box {
    width: 100%;
    position: relative;
  }
  &__client--img-box {
    width: 100%;
    display: flex;
    position: absolute;

    @include respond(phone) {
      display: block;
    }
    @include respond(tab-port) {
      /*       display: block;
      margin: 0 auto; */
    }
  }
  &__client--img {
    width: 45%;
    border-radius: 2rem;
    position: relative;
    z-index: 3;

    @include respond(tab-port) {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }

    @include respond(phone) {
      width: 80%;
    }
  }
  &__client-avatar {
    height: 8rem;
    border-radius: 100%;
  }

  &__east-btn {
    position: absolute;
    margin-top: 58%;
    left: 5rem;
    display: flex;
    justify-content: flex-start;

    @include respond(tab-port) {
      margin-top: 0;
      top: 43rem;
    }
    @include respond(phone) {
      top: 32rem;
    }
  }

  &__west-btn {
    position: absolute;
    margin-top: 58%;
    left: 0rem;
    display: flex;
    justify-content: flex-start;

    @include respond(tab-port) {
      margin-top: 0;
      top: 43rem;
    }

    @include respond(phone) {
      top: 32rem;
    }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    fill: $color-primary-dark;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      transform: scale(1.2);
      fill: $color-primary;
    }
  }
}

.testimonials__card {
  align-self: center;
  margin-left: 10rem;

  @include respond(tab-port) {
    margin-left: 5rem;
  }
  @include respond(phone) {
    margin-left: 0;
    margin-top: 7rem;
  }
}

.indicators {
  display: flex;
  top: 85%;
  left: 45%;
  margin-left: 10rem;
  position: absolute;

  @include respond(tab-1024) {
    margin-top: 0;
    justify-content: center;
  }
}

.indicator.active .testimonials__client-avatar {
  border: 3px solid $color-primary;
}

.indicator {
  border-radius: 1rem;
  margin-right: 1.5rem;
  cursor: pointer;

  @include respond(phone) {
    display: none;
  }
}

@include respond(tab-port) {
  #client-img1 {
    content: url(../../images/client-1s.jpg) !important;
  }
  #client-img2 {
    content: url(../../images/client-2s.jpg) !important;
  }
  #client-img3 {
    content: url(../../images/client-3s.jpg) !important;
  }
}
